/* Стилове, общи за всички форми */

/* Родителски контейнер */
.form-page {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Кремаво бяло за фона на страницата с формата */
}

.form-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #59b99c;
    /* Зелен цвят за рамката */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    /* Бял фон за формата */
}

.form-container h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    /* Тъмен текст за етикетите */
}

.form-group input[type="email"],
.form-group input[type="password"],
.form-group input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ceebe2;
    /* Светло зелена рамка за полетата */
    border-radius: 4px;
    box-sizing: border-box;
}

.button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #59b99c;
    /* Зелен цвят за бутона */
    color: white;
    cursor: pointer;
    font-size: 15px;
}

.button:hover {
    background-color: #ceebe2;
    /* Светло зелено за hover ефект на бутона */
    color: #333;
    /* Тъмен текст при hover */
}

.link:hover {
    text-decoration: underline;
    color: #007bff;
    /* Сменяме цвета при hover за контраст */
}