/* Основен стил на тялото на страницата */
body {
    font-family: Arial, sans-serif;
    /* Изберете подходящ шрифт за вашия проект */
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    /* Лек цвят на фона за по-добра четимост */
}

/* Стилове за основния контейнер */
.container {
    width: 80%;
    /* Или фиксирана ширина, в зависимост от вашите предпочитания */
    margin: 0 auto;
    /* Центриране на контейнера */
    padding: 20px;
}

/* Стил за заглавие */
h1 {
    color: #333;
    /* Изберете цвят, подходящ за вашата тема */
}

/* Стил за параграфи */
p {
    line-height: 1.6;
    /* Увеличете редовото разстояние за по-добра четимост */
}

/* Подходящи разстояния за всички секции */
section {
    margin-bottom: 20px;
}

/* Стилове за хедъра и футъра, ако са необходими */
header,
footer {
    background-color: #ddd;
    /* Лек цвят на фона */
    padding: 10px 0;
    text-align: center;
}