.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.product-card {
    background-color: #f8e8e0;
    width: 200px;
    height: 300px;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.product-card img {
    width: 80%;
    height: 200px;
    object-fit: cover;
}

.product-card h3 {
    padding: 10px;
    margin: 0;
    text-align: center;
}